
//app.use(express.static('public'))
.title 
  img.image(src="../logo.png" alt="some text" width=60 height=60)
  p.titleword TaylorFit Response Surface Analysis - with stepwise Multivariate Polynomial Regression
  span.button.warn(data-bind="click:stop_fun" title="stop.")
    | Stop
// ko if:model
//span.stop(data-bind="click:stop_process")
  span Stop
span.settings(data-bind="click:toggle_settings")
  span Settings
  a.fa.fa-cog
span.loader(data-bind="style:{width:model().progress() + '%'}")
// /ko
