
tf-data-partition(params="show_partition:show_partition,model:temp_model,parent:$component")
tf-validate-data-partition(params="show_validate_partition:show_validate_partition,model:temp_model,parent:$component")
input(type="file" accept=".csv" hidden
  data-bind="attr:{id:id},value:dataset")
label.button.input-dataset(data-bind="attr:{for:id}")
  span
    | Replace&nbsp;
    // ko if:table == 'validation'
    //span(data-bind="text:table" title="Open new Data File for use in final validation")
    // /ko

    // ko if:table == 'cross'
    //span(data-bind="text:table" title="Open new Data File for use in cross-validation")
    // /ko
    | &nbsp;Data

